
/* 
    Created on : 5 abr. 2022, 11:57:18
    Author     : David Quiñonez
*/

.botones-clases{
    -fx-background-color:  #D6EAF8;
    -fx-font-family: 'Times New Roman';
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-underline: true;
    
}

.botones-clases:hover{
    
    -fx-background-color:#1A5276;
    -fx-text-fill: white;
    -fx-background-radius: 10 10 10 10;
}

.botones-clases:pressed{
    -fx-scale-x: 0.9;
}

.label-extremos{
    -fx-background-color: #1A5276;
    -fx-background-radius: 10 10 10 10;
}

.AnchorPane{
    -fx-background-color: #D6EAF8;
}

.imagenes{
    
}